html {
	/* set up a background image */
	background: url('sf.jpg');
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
  margin: 0;
  padding: 0;
  font-family: helvetica neue, sans-serif; 
}
#front-content {
  margin: 60px 100px 60px 500px;
  padding: 20px 40px;
  min-height: 500px;
  background-color: rgba(255,255,255,.8);
  border-radius: 15px;
  box-shadow: 2px 2px 7px black;
  width: 350px;
}
#front-content p {
  font-size: 16px;
  line-height: 28px;
}
#main-content {
  margin: 20px 100px;
  padding: 20px 40px;
  min-height: 600px;
  background-color: rgba(255,255,255,.9);
  border-radius: 15px;
  box-shadow: 2px 2px 7px black;
}
h1 {
  font-size: 28px;
}
#main-content label {
  margin-right: 10px;
  font-size: 15px;
}
#main-content input {
  margin-top: 20px;
}
#main-content input[type:text] {
  width: 150px;
}

#main-content select {
  width: 150px;
}


/* FOOTER STYLES */
footer {
  background: lightblue;
  padding: 20px 0;
  text-align: center;
}
footer form {
  display: inline-block;
}


/* ALL SEARCH AREA STYLES */
/* NEEDS RESPONSIVE STYLES */
#search-area {
  background: lightblue;
  padding-bottom: 10px;
  text-align: center;
}
#search-area h2 {
  text-align: center;
  margin: 0 auto 12px auto;
  font-size: 18px;
  font-family: helvetica neue, sans-serif; 
  background: #555;
  color: white;
  padding: 8px 0 8px;
  border-radius: 0 0 10px 10px;
  width: 180px;
}
.search-module h3 {
  text-align: center;
  margin: 10px 0;
}
.search-module {
  display: inline-block;
  width: 200px;
  padding: 0;
  margin-bottom: 15px;
  text-align: center;
  border-right: black 1px solid;
}
.search-module:last-child {
  border-right: none;
  width: 300px;
  text-align: left;
  padding-left: 27px;
}
label {
  font-family: helvetica neue, sans-serif; 
  font-size: 12px;
}
select {
  width: 100px;
}
#search-area input[type:text] {
  width: 100px;
}

/* TABLE STYLES */
table, tbody {
  margin: 0 auto;
	border-collapse: collapse;
	width: 85%;
	text-align: left;
}
th {
	border-bottom: black 1px solid;
	padding: 2px 10px;
	vertical-align: bottom;
}
tbody tr:nth-child(even) {
	background: white;
	background: rgba(169,215,250,1);
}
td {
	border: 0px;
	padding: 2px 10px;
	vertical-align: text-top;
}

/* NEW-DRUG DIV STYLES */
#new-drug label {
    font-size: 14px;
    padding-right: 8px;
}
#new-drug select {
  width: 150px;
}

